# Build artifacts
build/
*.bin
*.elf
*.hex
*.map
*.o
*.d

# Editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Downloaded tools (auto-created by get-stm32flash.ps1 / get-stm32flash.sh)
tools/

# Python
__pycache__/
*.pyc

# Temp files
*.tmp
*.bak
